* {box-sizing:border-box; font-family:Arial; text-decoration:none}

/*Header*/
.header {padding:100px; text-align:center; background:url('../images/banner.jpg'); color:white}
.header button {padding:10px; border:1px solid white; background:none; color:white}
.header button:hover {border-radius:20px; transition: all 0.3s ease; background:white; color:black}
.navbar {display:flex; background:#333}
.navbar a {color:white; padding:16px 20px; text-align:center; cursor:pointer}
.navbar a:hover {background:#ddd; color:black}

/*Modal*/
.input-container {display:-ms-flexbox; display:flex; width:100%; margin-bottom:15px}
.icon {padding:20px; background:none; color:black; min-width:50px; text-align:center}
.input-field {width:100%; padding:10px; outline:none}
.input-field:focus {border:2px solid dodgerblue}
.input-submit {background-color:#337ab7; color:white; padding:15px 20px; border:none; 
	cursor:pointer; width:100%; opacity:0.9}
.input-submit:hover {opacity:1}

/*Button setting*/
.dropbtn {background-color:#c89271; color:white; padding:16px; font-size:16px; border:none}
.dropdown {position:relative; display:flex; text-align:center}
.dropdown-content {display:none; position:absolute; background-color:#f1f1f1; 
	min-width:160px; box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2); z-index:1; margin-top:50px}
.dropdown-content a {color:black; padding:12px 16px; display:block}
.dropdown-content a:hover {background-color:#ddd}
.dropdown:hover .dropdown-content {display:block}
.dropdown:hover .dropbtn {background-color:#886757}

/*Container*/
.row {display:flex; flex-wrap:wrap}
.side {flex:30%; background:#f1f1f1; padding:20px}

/*Namepost*/
.side a {color:black}
.btnside {width:100%; padding:20px; background:none; font-size:16px}
.btnside:hover {background:#484d4f; border-radius:20px; color:white; transition: all 0.3s ease}
.main {flex:70%; background:white; padding:20px}
.content {background:#aaa; width:100%; height:auto; padding:20px; display:flex; flex-wrap:wrap}
.post {background:#dadada; height:auto; border-left:1px solid black; border-bottom:1px solid white; 
	flex-direction:column; width:50%; padding:20px; margin-bottom:10px}
.post img {width:150px; height:150px}
.post a {color:#337ab7; font-size:18px; font-weight:bold}
.post p {font-size:16px}

/*Edit namepost*/
.editcategory {width:50%; height:auto; margin:50px auto}
.editcategory table {width:100%}
.editcategory table tr {width:50%; text-align:left}
.editcategory table input {width:100%; padding:10px; border:1px solid black}
.btnedit {background:#555555; color:white; font-size:18px; cursor:pointer; width:100%; padding:10px; margin-top:10px}
.btnedit:hover {background:#008CBA}

/*Tablepost*/
.category {width:90%; height:auto; margin:0px auto; overflow:auto}
.category button {padding:10px; background:#555555; color:white; border:1px solid black; cursor:pointer}
.category button:hover{background:#008CBA}
.showcategory table {margin:20px auto; width:100%; height:auto}
.showcategory th, td {text-align:left; padding-top:20px; padding-bottom:10px}
.showcategory td {border-top:1px solid black}
.showcategory a {color:black}
.tooltip {position: relative; display:inline-block}
.tooltip .tooltiptext {visibility:hidden; width:130px; background:gray; color:white; text-align:center; 
	border-radius:6px; padding:6px 0; position:absolute; z-index:1}
.tooltip:hover .tooltiptext {visibility:visible}
.category h2 {text-align:left; padding-top:20px}
.addcategory {width:100%; height:auto}
.addcategory input {width:100%; padding:16px; margin-top:10px; border:1px solid black; font-size:16px}
.btnadd {background:#555555; color:white; font-size:18px; cursor:pointer}
.btnadd:hover {background:#4CAF50}
.btnadduser button {width:100%; padding:16px; margin-top:10px; border:1px solid black; font-size:16px}
.btnadduser button:hover {background:#4CAF50}

/*Tableuser*/
.usercontainer {width:60%; height:auto; margin:50px auto; padding:20px}
.userinput {width:100%; margin:8px 0; display:inline-block; box-sizing:border-box}
.userinput option {width:100%}
.userinput select {width:100%; padding:12px; margin-top:10px}
.btnuserinput button {width:100%; background-color:#555555; color:white; padding:16px; margin:8px 0; border:none; 
  border-radius:4px; cursor:pointer; font-size:16px}
.btnuserinput button:hover {background-color:#45a049}
.userinput textarea {width:100%; margin-top:10px}

/*Register*/
.container-register {padding:16px; width:70%; margin:20px auto}
input[type=text], input[type=password] {
  width:100%; padding:15px; margin:5px 0 22px 0; display:inline-block; border:none; background:#f1f1f1}
input[type=text]:focus, input[type=password]:focus {background-color:#ddd; outline:none}
hr {border:1px solid #f1f1f1; margin-bottom:25px}
.registerbtn {font-size:16px; background:#049688; color:white; padding:16px 20px; margin:8px 0; border:none; 
  cursor:pointer; width:100%; opacity:0.9}
.registerbtn:hover {opacity:1}
a {color:dodgerblue}
.signin {background-color:#f1f1f1; text-align:center}
.registerbottom {width:100%; background:#f1f1f1; padding:10px; text-align:center}

/*Editpost*/
.btnpost {display:grid; grid-template-columns:auto auto}
.btnpost button {text-align:center; padding:5px 0; font-size:14px}
.btnpost button a {color:#049688}

/*Footer*/
.footer {font-size:12px; padding:20px; text-align:center; background:#ddd}

/*Responsive*/
@media screen and (max-width:700px) {
  .row, .navbar {flex-direction:column}
  .header canvas, .header audio {display:none}
  .dropbtn {width:100%}
  .post {width:100%}
  .editcategory {width:90%}
  .container-register {width:90%}
  .usercontainer {width:90%}
}
@media screen and (max-width:1024px) {
  .header canvas{width:552px}
  .editcategory {width:70%}
  .container-register {width:80%}
  .usercontainer {width:80%}
}